################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FizzBuzz/bin/Debug/netcoreapp3.1
/FizzBuzz/obj
/.vs
