@page
@model FizzBuzz.Pages.FizzbuzzModel
@{
    ViewData["Title"] = "Fizzbuzz page";
}


<body>
    <form class="text-center" method="post">
        <div>
            <div>
                <div>
                    <div> <label>Enter value here:</label></div>
                </div>
                <div>
                    <input type="text" asp-for="fbvalues" placeholder="Fizzbuzz Values" required="" />
                </div>
                <div>
                    <br />
                    <button type="submit">Submit</button>
                </div>
                @if (Model.result_list != null)
                {
                    <div>
                        <br />
                        <h5 hidden="hidden" id="lbl_OT"> Output: </h5>
                        <div><label id="results" style="font-weight:bold">Output: </label></div>
                    </div>
                    @foreach (var item in Model.result_list)
                    {
                        <div>
                            <div><label id="results" style="text-align:left">@item </label></div>
                        </div>
                    }
                }

            </div>
        </div>
    </form>
</body>